@font-face {
  font-family: vazirNormal;
  src: url("/fonts/Vazir.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: vazirMedium;
  src: url("/fonts/Vazir-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: vazirBold;
  src: url("/fonts/Vazir-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-vazirNormal: "vazirNormal", "sans-serif";
  --font-vazirMedium: "vazirMedium", "sans-serif";
  --font-vazirBold: "vazirBold", "sans-serif";
}
